.heroComic h1{
    color: white;
    text-align: center;
}

.comicsList{
    list-style-type: none;
}

.comicsList li{
    display: inline-block;
    margin: 8px;
    height: 541px;
    width: 300px;
    overflow: hidden;
}

.comicsList li img{
    max-width: 100%;
}